<div class="row">
  <div class="col-md-3">
    <%= render 'today_logo' %>
  </div>
  <div class="col-md-6">
    <h3>Who's doing what</h3>
    <% if user_signed_in? %>
      <p id="notice"><%= notice %></p>
      <p>Post form here if user signed in</p>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Tags</h3><h4>what we're about</h4>
  </div>  
</div>