<div class="row">
  <div class="col-md-3">
    <%= render 'shared/today_logo' %>
  </div>
  <div class="col-md-6">
    <h3>Who's doing what</h3>
    <% if user_signed_in? %>
      <%= render partial: 'shared/post_form', locals: {thetags: @tags} %>
    <% end %>
    <% if @posts.empty? %>
      No posts yet.
    <% else %>
      <%= render partial: 'shared/post_list' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Tags</h3><h4>what we're about</h4>
    <%= render partial: 'all_tags', locals: {thetags: @tags} %>
  </div>  
</div>