<% @posts.each do |post| %>
   <div class="panel-heading">
        <%= post.user.username %> has:
        <%= post.title %>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        Tags: <%= render_tags_as_links(post.taglist) %>
    </div>
<% end %>
