@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;
	padding-bottom: 60px;
}

.member-num-posts {
	float: right;
}

.member-join-date {
	margin-left: 20px;
}

input, textarea, select {
	width: 100%;
	margin-bottom: 2px;
}